body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    padding: 0 auto;
    width: 50%;
    height: auto;
}

#images-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: 0.1s;
    /* transform: translateX(25%); */
}